*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}

body{
    background-color: #1a1a1a;
}

.hero {
    width: 100%;
    height: 450px;
    background-image: 
        linear-gradient(to right, #f5f5f588, rgba(0, 0, 0, 0.521),rgba(255, 255, 255, 0)),
        url('/img/app3.jpg');
    
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    margin-bottom:20px ;
    border-radius: 0px 0px 10px 10px;
}


.hamburger {
    width: 40px;
    height: 3px;
    margin-top: 5px;
    display: none;
    border: none;
    top: 20px;
    right: 20px;
    background: transparent;
    cursor: pointer;
    z-index: 1000; 
    position: fixed;
}

.hamburger img{
    display: block;
}

.hamburger button:hover{
    background-color: #fff;
}

.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: transparent;
    transition: 1s;
    border: 1px solif white;
}

.navbar.active{
    width: 100%;
    background-color: #cfc4b1b9;
    transition: .5s;
   
}

.navtitle{
    margin-left: 40px;
    height: auto;
    text-align:center;
    color: #f7d794;
    font-family: "Qwitcher Grypen";
    font-size: 45px;
}

.navlinks{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.navlinks a{
    color: #f7d794;
    text-decoration: none;
    font-weight: 600;
    padding: 10px;
    transition: 0.5s;
    border-radius: 10px;
    font-family: "Poppins" ;
}
.navlinks a:hover{
    background-color: #1e2b25;
    
}
.herosection{
    width: 100%;
    height: 450px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    color: #ffefcd;
    font-family: "Poppins";
    text-transform: uppercase;
    margin-bottom: 10px;
}


.herosection h1{
    margin-bottom: 0px;
    font-family: "Qwitcher Grypen";
    font-size: 80px;
    text-transform: capitalize;
}

.herosection h2{
    letter-spacing: 3px;
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 25px;
    border-bottom: 5px solid #f7d794;
    border-radius: 10px;
    padding: 10px;
}

.herosection a{
    margin: 10px;
    letter-spacing: 2.5px;
    text-decoration: none;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    transition: 0.3s;
}

.herosection a:hover{
    background-color: #0e1411d2;
}

.herosection button{
    padding: 10px;
    font-family: "Poppins";
    font-weight: bold;
    letter-spacing: 2px;
    border-radius: 10px;
    border: transparent;
    transition: 0.3s;
    color: #0e1411d2;
    background-color: #f7d794;
}

.herosection button:hover{
    background-color: #0e1411d2;
    border: transparent;
    color: #f5f5f5;
    padding: 10px;
}

.nossos-servicos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 400px;
    margin: 30px 50px;
    padding: 5px 50px;
}

section{
   display: inline;
   color: #f7d794;
}

 .title{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Qwitcher Grypen";
    font-size: 30px;
    color: #f5f5f5;
}

.text{
    width: 100%;
    text-align: center;
    margin: 10px;
    font-family: "Poppins";
    color: #f5f5f5;
}

.cards-service{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 5px;
    color: #f5f5f5;
}

.card{
    width: 250px;
    height: 200px;
    font-family: "Poppins";
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 10px;
}

.card h2{
    font-family: "Qwitcher Grypen";
    font-size: 45px;
    color: #f7d794;
}

.card img{
    width: 75px;
    padding: 5px;
}

.hours{
    width: 100%;
    height: 400px;
    background-image: 
    linear-gradient(to right, #ffefcda6, rgba(0, 0, 0, 0.685),rgba(255, 255, 255, 0)),
    url('/img/rest.jpg');
    background-size: cover;
    background-position: right; 
    background-repeat: no-repeat;
    margin-top: 50px;
    border-bottom: 2px solid #0e1411d2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: #ffefcd;
}

.text-hours{
    width: 550px;
    height: 200px;
    display: flex;
    justify-content: space-around;
}

.text-hours .title{
    font-size: 35px;
    
}

.hours .hour1{
    display: flex;
    height: 150px;
    width: 250px;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    font-family: "Poppins";
}

.hours h1{
    font-size: 65px;
}

footer{
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

footer p{
    font-family: "Poppins";
    color: #f5f5f5;
    
}

.footertitle{
   
    height: auto;
    text-align:center;
    color: #f7d794;
    font-family: "Qwitcher Grypen";
    font-size: 35px;
}

.social-media{
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.social-media img{
    width: 50px;
    height: 50px;
    padding: 10px;
    border-radius: 10px;
}

.social-media img:hover{
    background-color: rgba(128, 128, 128, 0.466);
}


@media (max-width: 805px) {

    body{
        overflow-x: hidden;
    }

    .hero {
        width: 100%;
        height: 400px;
    }
    

    .hamburger {
        display: block;
        position: fixed;
        right: 10px;
    }
    .navlinks {
        position: fixed;
        top: 60px;
        right: 0;
        width: 250px;
        height: 100vh;
        border-radius: 10px;
        clip-path: circle(0 at 100% 50%);
        transition: clip-path 1s ease-out;
        background-color: #2b2b2bc5;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        pointer-events: none;
    }

    .navlinks.active {
        clip-path: circle(150% at 100% 50%);
        pointer-events: all;
    }

    .navtitle{
        display: block;
        width: 100%;
        margin-left: 10px;
        justify-content: center;
    }

    .herosection{
        width: 100%; 
    }

    .nossos-servicos{
        height: auto;
        margin: 5px 10px;
        padding: 5px 10px;
    }

    .hour1 .title{
        font-size: 35px;
    }

    .cards-service{
        width: 70%;
        flex-direction: column;
        margin: 5px;
    }
    
    .card h2{
        font-family: "Qwitcher Grypen";
        font-size: 40px;
        color: rgb(196, 168, 87);
    }
    
    .card img{
        width: 70px;
    }

    .hours{
        width: 100%;
        height: 300px;
    }

    .hours .title{
        font-size: 45px;
    }

    .text-hours{
        width: 95%;
        height: auto;
    }

    .text-hours .title{
        font-size: 22px;
        font-weight: bolder;
    }
 
    footer{
        display: flex;
        height: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    
    .footertitle{
        display: flex;
        height: auto;
        justify-content: center;
        text-align:center;
        color: #f7d794;
        font-family: "Qwitcher Grypen";
        font-size: 20px;
    }

    footer p{
        width: 40%;
        text-align: center;
        font-size: 10px;
    }

    .social-media{
        width: 30%;
    }

    .social-media img{
        width: 30px;
        height: 40px;
        padding: 10px;
        border-radius: 10px;
    }
}